a {
	text-decoration: none;
	color: #094162;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
	color: #294182;
}
.footer{
	background-color: #094162;
	color: #FFF;
	text-align: center;
	height: 16px;
	margin: 0px;

}


#first{
	border-radius: 5px;
	font-size: 16px;
	border: 1px solid #808080;
}

#second{
	display: none;
	border-radius: 5px;
	font-size: 16px;
	border: 1px solid #808080;
}

input[type="text"],input[type="email"],input[type="password"], input[type="date"]{
	border: 1px solid #e5e5e5;
	height: 40px;
	font-size: 15px;

}

input[type="text"]:hover,input[type="email"]:hover,input[type="password"], input[type="date"]:hover{
	border-color: #3498db;
}

